/* ======= Typography style ======= */


:root {
    --primary-pink: #ED65A4;
    --secondary-blue: #39A4F0;
    --text-gray: #1C1C1C;
    --light-gray: #E5E5E5;
    --soft-white: #F9F9F9;
    --black: #000000;
    --white: #FFFFFF;
}




html,
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;

}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    word-wrap: break-word;
}

body {
    font-family: "Inter", sans-serif;
    color: var(--text-gray);
    background: var(--white);
    font-size: 16px;
    overflow-x: hidden;
    width: 100%;
}





















/* BreadCrumb Section */
.breadcrumb-box {
    position: relative;
    background: url('../img/professional-window-cleaning3.webp') center center / cover no-repeat;
    width: 100%;
    padding: clamp(4rem, 10vw, 8rem) 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
    margin-top: clamp(30px, 10vh, 100px);
}

.breadcrumb-box::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.breadcrumb-content {
    max-width: 900px;
}


.breadcrumb-content>* {
    position: relative;
    z-index: 2;
}

.breadcrumb-content h1 {
    text-transform: uppercase;
    font-size: clamp(35px, 6vw, 55px);
    color: var(--white);
}

.breadcrumb-content p {
    text-transform: uppercase;
    font-size: 16px;
    color: var(--white);
}

.breadcrumb-content a {
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    color: var(--white);
    padding: 10px 20px;
    margin: 5px 5px;
    border-radius: 50px;
    background: linear-gradient(135deg, #012e5b 40%, #496bff 100%);
}

.breadcrumb-content span {
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    color: var(--white);
    padding: 10px 20px;
    margin: 5px 5px;
    border-radius: 50px;
    background: linear-gradient(135deg, #012e5b 40%, #496bff 100%);
}


@media (max-width:945px) {
    .breadcrumb-content {
        max-width: 900px;
        margin-top: 40px;
    }
}

/* BreadCrumb Section */




















/* ===== GALLERY SECTION STYLING ===== */


.gallery-img {
    cursor: pointer;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .15);
    transition: box-shadow .2s;
}

.gallery-img:hover {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .35);
}

.lightbox-modal .modal-content {
    background: rgba(0, 0, 0, .75);
}

.lightbox-modal .btn-close {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    filter: invert(1);
    z-index: 10;
}

.modal-body {
    display: flex;
    align-items: center;
    padding: 0;
}

.carousel-inner {
    width: 75%;
    margin: auto;
}

.carousel-inner img {
    animation: zoomin 10s linear infinite;
}

@keyframes zoomin {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}




/* ===== GALLERY SECTION STYLING ===== */