/* ======= Typography style ======= */
:root {
    --primary-pink: #E83F8E;
    --secondary-blue: #153CAF;
    --dark-blue: #05054f;
    --text-gray: #67696c;
    --bg-color: #FAFAF7;
    --light-gray: #F5F4EE;
    --soft-white: #F9F9F9;
    --black: #000000;
    --white: #FFFFFF;

}







html,
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;

}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    word-wrap: break-word;
}

body {
    color: var(--text-gray);
    background: var(--bg-color);
    font-size: 16px;
    overflow-x: hidden;
    width: 100%;
}

p {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: var(--text-gray);
}


h1,
h2 {
    font-family: 'Boldonse', sans-serif;
    color: var(--secondary-blue);
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 5px;
    margin: 0 0 15px 0;
}













/* BreadCrumb Section */
.breadcrumb-box {
    position: relative;
    background: url('../img/profesional-upholstery-cleaning3.webp') center center / cover no-repeat;
    width: 100%;
    padding: clamp(4rem, 10vw, 8rem) 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
}

.breadcrumb-box::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.breadcrumb-content {
    max-width: 900px;
}


.breadcrumb-content>* {
    position: relative;
    z-index: 2;
}

.breadcrumb-content h1 {
    text-transform: uppercase;
    font-family: 'Boldonse', sans-serif;
    font-size: clamp(35px, 6vw, 55px);
    color: var(--white);
}

.breadcrumb-content p {
    text-transform: capitalize;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 16px;
    color: var(--white);
}


.breadcrumb-content a {
    position: relative;
    color: var(--white);
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size 0.3s ease;
}

.breadcrumb-content a:hover {
    background-size: 100% 2px;
}



.breadcrumb-content span {
    text-transform: capitalize;
    text-decoration: none;
    color: var(--white);
}







@media (max-width:945px) {
    .breadcrumb-content {
        max-width: 900px;
        margin-top: 40px;
    }
}

/* BreadCrumb Section */























/* ===== GALLERY SECTION STYLING ===== */


.gallery-img {
    cursor: pointer;
    transition: box-shadow 0.2s;
    border-radius: 20px;
    aspect-ratio: 8/5;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease;
}

.gallery-img:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.lightbox-modal .modal-content {
    background: rgba(0, 0, 0, 0.75);
}

.lightbox-modal .btn-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 1000;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}



.lightbox-modal .btn-close i {
    color: var(--white);
    font-size: 30px;
    transition: all 0.3s ease;
}



.lightbox-modal .btn-close:hover i {
    color: var(--secondary-blue);
}


.modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 100%;
}



.carousel-inner {
    width: 75%;
    margin: auto;
    border-radius: 10px;
}


.carousel-inner img {
    animation: zoomin 10s linear infinite;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
}



@keyframes zoomin {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}



@media (max-width: 767px) {
    .gallery-img {
        cursor: default;
    }
}

/* ===== GALLERY SECTION STYLING ===== */