/* ----------------------------------------------------------------
			[ All Css Plugins & Helper services File ]
-----------------------------------------------------------------*/

/* == Bootstrap == */
@import url("plugins/bootstrap.min.css");


/* == Owl.carousel == */
@import url("plugins/owl.carousel.min.css");
@import url("plugins/owl.theme.default.min.css");



@import url("plugins/flaticon.css");


@import url("plugins/magnific-popup.css");