/* ======= Typography style ======= */
:root {
    --primary-pink: #E83F8E;
    --secondary-blue: #153CAF;
    --dark-blue: #05054f;
    --text-gray: #67696c;
    --bg-color: #FAFAF7;
    --light-gray: #F5F4EE;
    --soft-white: #F9F9F9;
    --black: #000000;
    --white: #FFFFFF;

}







html,
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;

}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    word-wrap: break-word;
}

body {
    color: var(--text-gray);
    background: var(--bg-color);
    font-size: 16px;
    overflow-x: hidden;
    width: 100%;
}

p {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: var(--text-gray);
}


h1,
h2 {
    font-family: 'Boldonse', sans-serif;
    color: var(--secondary-blue);
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 5px;
    margin: 0 0 15px 0;
}













/* BreadCrumb Section */
.breadcrumb-box {
    position: relative;
    background: url('../img/profesional-upholstery-cleaning3.webp') center center / cover no-repeat;
    width: 100%;
    padding: clamp(4rem, 10vw, 8rem) 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
}

.breadcrumb-box::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.breadcrumb-content {
    max-width: 900px;
}


.breadcrumb-content>* {
    position: relative;
    z-index: 2;
}

.breadcrumb-content h1 {
    text-transform: uppercase;
    font-family: 'Boldonse', sans-serif;
    font-size: clamp(35px, 6vw, 55px);
    color: var(--white);
}

.breadcrumb-content p {
    text-transform: capitalize;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 16px;
    color: var(--white);
}


.breadcrumb-content a {
    position: relative;
    color: var(--white);
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size 0.3s ease;
}

.breadcrumb-content a:hover {
    background-size: 100% 2px;
}



.breadcrumb-content span {
    text-transform: capitalize;
    text-decoration: none;
    color: var(--white);
}







@media (max-width:945px) {
    .breadcrumb-content {
        max-width: 900px;
        margin-top: 40px;
    }
}

/* BreadCrumb Section */





















/* service intro section */

.service-intro-section .container .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.service-intro-image {
    border-radius: 20px;
    overflow: hidden;
}

.service-intro-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.service-wc {
    position: relative;
    background-color: var(--dark-blue);
    overflow: hidden;
    padding: 40px 20px;
    border-radius: 20px;
}


.service-wc::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../img/lines.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    opacity: 0.1;
    pointer-events: none;
}

.service-wc>* {
    position: relative;
    z-index: 2;
}

.service-wc-header h3 {
    color: var(--white);
    font-family: 'Boldonse', sans-serif;
    font-size: clamp(20px, 4vw, 30px);
    margin-bottom: 20px;
    padding-left: 10px;
}


@media (max-width:992px) {

    .service-intro-image {
        margin: 5px;
        margin-bottom: 20px;
    }

}

/* service intro section */
























/* service list section */


.service-list {
    position: relative;
    width: 100%;
    padding: 40px 20px;
    margin: 10px 0px;
    background-color: transparent;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

.service-list:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    background-image: url(../img/lines.png);
    opacity: 0.2;
    object-fit: cover;
    object-position: center;
}

.service-list .service-list-icon {
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
    z-index: 2;
}

.service-list .service-list-icon img {
    width: 50px;
    height: 50px;
    filter: invert(1);
}

.service-list:nth-child(1) .service-list-icon {
    background-color: var(--secondary-blue);
}

.service-list:nth-child(1):hover .service-list-icon {
    box-shadow: 0 0 0 400px var(--dark-blue);
    background-color: var(--secondary-blue);

}

.service-list .service-content {
    position: relative;
    z-index: 3;
    transition: 0.5s;

}


.service-list .service-content h3 {
    font-family: 'Boldonse', sans-serif;
    font-size: 16px;
    margin: 20px 0px;
    color: var(--dark-blue);
}


.service-list:nth-child(1):hover .service-content h3 {
    color: var(--white);
}


.service-list .service-content a {
    margin-top: 10px;
}

/* service list section */






















/* Price Planning section */


.price-list-section {
  padding-top: 0px;
}

.price-list-section .row {
  display: flex;
  flex-wrap: wrap;
}

.price-list-section .row > [class*="col-"] {
  display: flex;
}

.price-list {
  border-radius: 20px;
  padding: 40px 20px;
  margin: 10px 0px;
  position: relative;
  background-color: var(--dark-blue);
  overflow: hidden;
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price-list::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../img/lines.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: invert(1);
  opacity: 0.2;
  pointer-events: none;
}

.price-list > * {
  position: relative;
  z-index: 2;
}

.price-list h4 {
  font-family: 'Boldonse', sans-serif;
  font-size: 16px;
  color: var(--white);
  text-transform: capitalize;
}

.price-list p {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 16px;
  color: var(--white);
}

/* Price Planning section */